* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
}

header {
  margin: 5px;
  text-align: center;
}


main {
  margin-left: 10px;
}

main button {
  padding: 5px;
  font-size: 15px;
}

.fag-input {
  margin-bottom: 20px;
}

#snittShow {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.hidden {
  display: none;
}