* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
}

header {
  margin: 5px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.5rem;
}

main {
  margin-left: 10px;
}

main button {
  padding: 5px;
  font-size: 15px;
}

main p {
  font-size: 1.3rem;
}

main input {
  margin-top: 2px;
  font-size: 1.15rem;
  padding: 2px 5px;
}

.fag-input {
  margin-bottom: 20px;
}

#snittShow {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

#settKarakterer-div {
  margin-top: 40px;
}

.hidden {
  display: none;
}